<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aatmik.foody">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
<!--    <uses-permission android:name="android.permission.READ_SMS" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foody"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/foody"
        android:supportsRtl="true"
        android:theme="@style/Theme.medOnWay">
        <activity
            android:name="com.aatmik.foody.mobileNumber"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.filter"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.allProducts"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.rating"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.aatmik.foody.search"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.productStatus"
            android:exported="true" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aatmik.foody.checksum"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_direction_api_key" />

        <activity
            android:name="com.aatmik.foody.payment"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.specificCategory"
            android:exported="true" />
        <activity android:name="com.aatmik.foody.productDetails" />
        <activity
            android:name="com.aatmik.foody.profile"
            android:exported="true"
            tools:ignore="ExtraText" />
        <activity
            android:name="com.aatmik.foody.cart"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.orders"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.aatmik.foody.splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aatmik.foody.resetPassword"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.signUp"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.signIn"
            android:exported="true" />
        <activity
            android:name="com.aatmik.foody.MainActivity"
            android:exported="true" />

        <service
            android:name="com.aatmik.foody.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>